* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  background-image: url(../image/Background.png);
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  color: #FFFFFF;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 79px;
  color: #FFFFFF; 
  background: #00000066;
}

.header-logo {
  font-weight: 700;
  font-size: 22px;  
  cursor: pointer;
}

.header__menu {
  display: flex;
}

.header__menu-icons{
  display: flex;
  justify-content: space-between;
  width: 126px;
  margin-right: 20px;
}

.icon-wrapper:hover img {
  filter: invert(73%) sepia(12%) saturate(1926%) hue-rotate(96deg) brightness(81%) contrast(93%);
  transition: 200ms ease-in-out;
}

.header__menu-item {
  width: 230px;
  padding-left: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.5);  
}

a {
  text-decoration: none;
  color: #FFFFFF; 
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  width: 444px;
  height: 584px;
  background: #FFFFFF;
  text-align: center;
  padding: 0 60px;
}

.form__header {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 15px;
}

.form__header-square {
  width: 18px;
  height: 18px;
  background: #3CB878;
  margin-left: -60px;
}

.form__header-text {
  width: 315px;
  display: flex;
  justify-content: space-between;
}

.form__header-item1 {
  color: #434343;
  font-weight: 400;
  font-size: 20px;
}

.form__header-item2 {
  font-weight: 400;
  font-size: 14px;
  color: #3CB878;
  justify-content: end;
}

.form__button {
  display: flex;
  margin-bottom: 31px;
}

.form-button1 {
  width: 160px;
  height: 48px;
  background: #305DB8;
  color: #FFFFFF;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-right: 18px;
  padding-left: 16px;
}

.form-button1-f {
  width: 1px;
  height: 28px;
  background: #0A162F; 
  opacity: 0.1;
}

.form-button1:hover {
  background: #022263;
}

.form-button2 {
  width: 160px;
  height: 48px;
  margin-left: 4px;
  background: #DF4A32;
  color: #FFFFFF;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 12px;
}

.form-button2-g {
  width: 1px;
  height: 28px;
  background: #2B0D09;
  opacity: 0.1;
  margin-right: 27px;
}

.form-button2:hover {
  background: #AB1F09;
}

.title {
  overflow: hidden;
  margin-bottom: 12px;
}

.title:before,
.title:after {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #F2F2F2;
  display: inline-block;
  vertical-align: middle;
}

.title:before {
  margin-left: -100%;
  left: -5px;
}

.title:after {
  margin-right: -100%;
  right: -2px;
}

.title-item {
  color: #848484;
}

.form-list {
  width: 324px;
  height: 44px;
  margin-bottom: 15px;
  padding-left: 15px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  color: #434343;
}

.form-list::placeholder {
  color:  #BEBEBE;
  opacity: 1;
}

.form-list:focus::placeholder {
  color:  #434343;
  opacity: 1;
}

.form-list:hover {
  color: #434343;
  opacity: 1;
  background: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
  border: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.form-list:focus {
  background: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
  border: none;
}

input {
  width: 322px;
  height: 44px;
}

.checkbox__wrapper {
  text-align: start;
  cursor: pointer;
}

.checkbox-wrapper {
  display: flex;
}

.checkbox {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  margin-right: 11px; 
} 

.checkbox-item1 {
  color: #434343;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-left: 28px;
}

.checkbox-item2 {
  color: #3CB878;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.form-button3 {
  width: 324px;
  height: 46px;
  background: #3CB878CC;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top:  20px;
  cursor: pointer;
}

a:hover {
  color: #01813F;
}

.form-button3:hover {
  background: #01813F;
}

.form__header-item2:hover {
  text-decoration: underline;
  color: #01813F;
  
}

.checkbox-item2:hover {
  text-decoration: underline;
  color: #01813F;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: 1px;
  background-position-y: 1px;
  position: absolute;
}

label .checkbox:hover ~ .checkbox-custom {
  background-image: url(../icon/Vector\ 1.svg);
} 


label .checkbox:checked ~ .checkbox-custom {
  background-image: url(../icon/Vector\ 2.svg);
} 

